<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lesson2 Hello world project</title>
</head>
<body style="background-color: aqua">
    <h1 style="color:red">Hello World!!! bu h1</h1>
    <h2>Hello world!!! bu h2</h2>
    <hr>
    <h3 style="color:blue">Hello World!!! bu h3</h3>
    <h4>Hello world!!! bu h4</h4>
    <h5 style="color:yellow; background-color: blueviolet">Hello World!!! bu h5</h5>
    <h6>Hello world!!! bu h6</h6>
<p>Bu yerga asosiy matn yoziladi, </p>
<p> Biz bugun djangoda <br> Hello world projectini yaratdik!</p>
<a href="https://kun.uz/" target="_blank">shok xabar</a>
</body>
</html>